table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
 
  
}

td, th {
  border: 3px solid ;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: green;
}